
@keyframes spinning{
    from{transform: rotate(0deg);}
    to {transform:  rotate(360deg);}
    
}
.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}
.about__me{
    width: 100%;
    /* aspect-ratio:  1/1; */
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        #4db5ff,
        transparent
    );
    display: grid;
    place-items: center;
}
.about__me-image{
   
    border-radius: 3rem;
    animation-name: spinning;
    animation-duration:3s ;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transform: rotate(15deg);
    
    overflow-y: auto;
    /* transform: rotate(15deg); */
    transition: all 1400ms ease-in-out;
    /* box-shadow: 12px 12px 15px transparent */

}

.about__me-image:hover{
    transform: rotate(15deg);
    transition: all 1400ms ease-in-out;
    box-shadow: 12px 12px 15px transparent

}

.about__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card{
    background: #2c2c6c ;
    border: 1px solid transparent;
    border-radius: 1 rem;
    padding: 2rem;
    text-align: center;
}

.about__card:hover{
    background: transparent;
    border-color: rgba(77,181,255, 0.4);
    cursor: default;
}

.about__icon{
    color: #4db5ff ;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.about__card h5{
    font-size: 1rem;
}

.about__card small{
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.6);
}
.about__content p{
    margin: 2rem 0 2.6rem;
    color: rgba(255, 255, 255, 0.6);
}

/*tablets*/
@media screen and (max-width:1024px ){
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .about__content p{
        margin:  1rem 0 1.5rem;
    }
}
/*small device*/
@media screen and (max-width:600px ){
    .about__me{
        width: 65%;
        margin: 0 auto 3rem;
    }
    .about__cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .about__content{
        text-align: center;
    }
    .about__content p{
        margin: 1.5rem 0;
    }
}